/* -------------------- colours -------------------- */
:root {
  --bg: #fff;
  --logo: #000;
  --text: #000;
  --invtext: #fff;
  --navbar: #eee;
  --accent: #b9b9b9;
}

body {
  background-color: var(--bg);
}

/* -------------------- navbar -------------------- */
.navbar {
  overflow: hidden;
  background-color: var(--navbar);
  padding: 20px 10px;
}

.navbar a {
  float:right;
  color: var(--text);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px;
}

.navbar a.logo {
  color: var(--logo);
  float:left;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: var(--accent);
  color: var(--invtext);
}

.navbar a.active {
  background-color: var(--accent);
  color: var(--invtext);
}

.navbar .icon {
  display: none;
}

/* -------------------- small screen -------------------- */

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
