/* -- colours -- */
:root {
  --bg: #fff;
  --text: #000;
  --invtext: #fff;
  --navbar: #eee;
  --active: dodgerBlue;
  --header: #eee;
  --hover: #fff;
  --foot: #fff;
  --bg-foot: #000;
}

/* -- navbar -- */
.navbar {
  overflow: hidden;
  background-color: var(--navbar);
  padding: 20px 10px;
}

.navbar a {
  float:right;
  color: var(--text);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px;
}

.navbar a.logo {
  float:left;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.navbar a.active {
  background-color: var(--active) ;
  color: var(--invtext);
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* -- footer -- */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: var(--bg-foot);
  color: var(--foot);
  text-align: center;
  white-space: nowrap;

}
