/* -------------------- colours -------------------- */
 :root {
  --bg: #fff;
  --logo: #000;
  --text: #000;
  --invtext: #fff;
  --navbar: #eee;
  --accent: dodgerBlue;
  --nav-hover: #999;
  --darkmode-hover: #649927;
}

[data-theme="dark"] {
  --bg: #1d1e1f;
  --logo: #fff;
  --text: #c3bebe;
  --invtext: #fff;
  --navbar: #2c2d2e;
  --accent:  #FF8D1E;
  --nav-hover: #656565;
  --darkmode-hover: #da5050;
}

body {
  background-color: var(--bg);
}

/* -------------------- navbar -------------------- */
.navbar {
  overflow: hidden;
  background-color: var(--navbar);
  padding: 20px 10px;
}

.navbar a {
  float:right;
  color: var(--text);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px;
}

.navbar a.logo {
  color: var(--logo);
  float:left;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: var(--nav-hover);
  color: white;
}

.navbar a.active {
  background-color: var(--accent);
  color: var(--invtext);
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* -------------------- darkmode -------------------- */

.theme-switch {
  float:right;
  color: var(--text);
  text-align: center;
  padding: 10px;
  background-color: var(--darkmode-button);
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px;
}

.theme-switch:hover {
  background-color: var(--darkmode-hover);
  color: var(--invtext);
}


.theme-switch input {
  display:none;
}
