.statusbar {
  overflow: hidden;
  background-color: #c4c4c4;
  padding: 10px 3px;
}

.statusbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the bar to increase when the font gets bigger */
.statusbar a.logo {
  font-size: 25px;
  font-weight: bold;
}

.statusbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Float the link section to the right */
.statusbar-right {
  float: right;
}

.statusbar-center {
  display: block;
  text-align: center;
}

.statusbar-vertical-center {
  display: block;
  text-align: center;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .statusbar a {
    float: none;
    display: block;
    text-align: left;
  }
  .statusbar-right {
    float: none;
  }
}
